.admin-login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.admin-login__form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.admin-login__form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.admin-login__form button {
  margin-top: 55px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #e87722;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.admin-login__form img {
  height: 80px;
  width: auto;
  align-self: center;
}