.landing {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../Image/Land-Page-bg1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  margin-top: 70px;
}

.landing__content {
  margin-left: 50px;
  width: 600px;
}

.landing__headline {
  width: 600px;
  font-size: 40px;
  height: 290px;
}

.landing__headline h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.landing__subtext {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 24px;
}

.landing__highlight {
  color: #e87722;
}

.landing__button-wrapper {
  margin-top: 10px;
}

.landing__button {
  padding: .7em 1.5em;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: white;
  background-color: #e87722;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.landing__button:hover {
  background-color: #e87722;
  box-shadow: 0px 15px 20px rgba(232, 119, 34, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.landing__button:active {
  transform: translateY(-1px);
}

.landing__image {
  height: 80vh;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__image-item {
  height: 50%;
  width: auto;
  object-fit: contain;
}

/* Responsive */
@media (max-width: 768px) {
  .landing {
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 40px 20px;
  }

  .landing__content,
  .landing__image {
    margin: 0;
  }

  .landing__headline {
    width: 100%;
    font-size: 24px;
    height: auto;
  }

  .landing__subtext {
    font-size: 16px;
  }

  .landing__image {
    height: auto;
    margin-top: 30px;
  }

  .landing__image-item {
    width: 80%;
    height: auto;
  }
}

/* Hat Icon Section */
.landing__hat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -55px;
  margin-bottom: -55px;
}

.landing__hat img {
  width: 130px; /* adjust size as needed */
  height: auto;
  object-fit: contain;
}
