.landing6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  height: 80vh;
  background: #fff;
}

.landing6__text-wrapper {
  max-width: 40%;
  font-size: larger;
  max-height: 70%;
}

.landing6__divider {
  border: none;
  height: 2px;
  background-color: #e87722;
  width: 100%;
  margin: 20px 0;
}

.landing6__text-1 {
    color: #e87722;
    font-size: 25px;
}

.landing6__text-2 {
    width: 20%;
    font-size: 20px;
}

.landing6__text-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing6__icon {
    height: 50px;
    width: auto;
}

iframe {
  border-radius: 12px;
  border: #e87722 6px solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
